<div class="estate-house-intro">
    <div class="wrap">
        <div class="inner">
            <div class="hero">
                <div class="items animate__animated animate__fadeInLeft animate__delay-0.7s">
                    <div class="text-info">
                        <h1>Găsește casa cea mai bună pentru <span>tine.</span></h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, rerum.</p>
                    </div>
                </div>
                <div class="items">
                    <div class="image" style="background-image: url(../images/house-intro.png);"></div>
                </div>
            </div>
        </div>
    </div>
</div>