<div class="estate-house-list">
    <div class="wrap">
        <div class="inner">
            <div class="text">
                <h2>Case de vanzare</h2>
            </div>
            <div class="house">
                <div class="house-list">
                    <div class="items">
                        <div class="inside">
                            <div class="image" data-fancybox data-src="images/house-intro.png"
                                data-caption="Hello world" style="background-image:url(images/house-intro.png) ;">

                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="inside">

                            <p>Vila P+1 de 5 Camere Mobilata Iasi</p>
                            <div class="info">
                                <p>Va oferim spre cumparare vila ideala pentru familie cu copii, gata mobilata si
                                    utilata,
                                    situata in localitatea Iasi, intr-o zona linistita de case. Casa a
                                    fost construita in anul 2010 din structura de beton si interioare din caramida.
                                </p>

                            </div>

                            <div class="details">
                                <div class="item-detail">
                                    <ul>
                                        <li>
                                            <p>Suprafață</p>
                                        </li>
                                        <li>
                                            <p>178 m²</p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Suprafață teren (m²)</p>
                                        </li>
                                        <li>
                                            <p>370 m²</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item-detail">
                                    <ul>
                                        <li>
                                            <p>Numărul de camere
                                            </p>
                                        </li>
                                        <li>
                                            <p>5</p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Anul constructiei

                                            </p>
                                        </li>
                                        <li>
                                            <p>2010</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>