<div class="estate-hero">
    <div class="inner">
        <div class="swiper" id="main-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide one">
                    <div class="wrap">
                        <div class="info animate__animated  animate__backInLeft animate__delay-0.2s">
                            <span class="counter"></span>
                            <p>case</p>
                            <p>vandute</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide two">
                    <div class="wrap">
                        <div class="info">
                            <span class="countertwo"></span>
                            <p>apartamente</p>
                            <p>vandute</p>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide three">
                    <div class="wrap">
                        <div class="info animate__animated  animate__backInLeft ">
                            <p>Suntem de </p>
                            <p><span class="count"></span></p>
                            <p>ani in Romania</p>

                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
            <div class="swiper-pagination one"></div>
        </div>

    </div>

</div>