<div class="estate-about">
    <div class="wrap">
        <div class="inner">
            <div class="items">
                <span>Despre noi</span>
                <h2>We Are The Leader In The Architectural</h2>
                <p>
                    Pentru fiecare proiect stabilim relații cu parteneri despre care știm că ne vor ajuta să creăm
                    valoare adăugată pentru proiectul dumneavoastră.</p>

                <div class="box">
                    <div class="info">
                        <span>26</span>
                        <p>Ani de experienta</p>
                    </div>
                </div>
            </div>
            <div class="items">
                <p>asdasd</p>

            </div>
        </div>
    </div>
</div>