<div class="estate-navbar">
    <div class="wrap">
        <div class="inner">
            <div class="logo">
                <p>Lux City</p>
            </div>
            <div class="phone">
                <a href="tel:+123456798">+123456798</a>
            </div>
            <div class="main-nav">
                <ul>
                    <li><a href="#!">Despre noi</a></li>
                    <li><a href="#!">Apartamente</a></li>
                    <li><a href="#!">Case</a></li>
                    <li><a href="#!">Contact</a></li>
                </ul>
            </div>
            <div class="hamburger d-lg-none d-md-block">
                <span></span>
            </div>
        </div>
    </div>
</div>


<!-- d-lg-none d-md-block -->