<div class="estate-navbar">
    <div class="wrap">
        <div class="inner">
            <div class="logo">

                <a href="index.html"><img src="images/logo-smart.png" alt="logo" class="img-fluid"
                        style="width: 77px;"></a>
            </div>
            <div class="phone">
                <a href="tel:+40756277277"><i class="fa-solid fa-phone"></i> +40 756 277 277</a>
            </div>
            <div class="main-nav">
                <ul>
                    <li><a href="#despre">Despre noi</a></li>
                    <li><a href="#!">Apartamente</a></li>
                    <li><a href="#!">Case</a></li>
                    <li><a href="#!">Contact</a></li>
                </ul>
            </div>
            <div class="hamburger d-lg-none d-md-block">
                <span></span>
            </div>
        </div>
    </div>
</div>


<!-- d-lg-none d-md-block -->