<div class="estate-video">

    <div class="wrap">
        <div class="inner">

            <div class="text-info">
                <h1>Vino sa descoperi cele mai <span>smart</span> apartamente</h1>
                <div class="skills">
                    <ul>
                        <li>
                            <p><i class="fa-regular fa-circle-check"></i> Confort</p>
                        </li>
                        <li>
                            <p><i class="fa-regular fa-circle-check"></i> Rafinament</p>
                        </li>
                        <li>
                            <p><i class="fa-regular fa-circle-check"></i> Eleganta</p>
                        </li>
                    </ul>
                </div>
                <a href="apartamente.html">Află mai multe</a>
            </div>
        </div>
    </div>
</div>