<div class="estate-hero-apartments">
    <div class="wrap">
        <div class="inner">
            <div class="text-info">
                <h1>Apartamente</h1>

            </div>
            <div class="about-project">
                <span>Despre Proiect</span>
                <div class="inner-project">
                    <div class="project-items">
                        <ul>
                            <li>Siguranța și confortul tău sunt importante pentru noi!</li>
                            <li>Venim în întâmpinarea dumneavoastră, prezentându-vă un proiect imobiliar,
                                nu numai prin arhitectură, cât și prin materialele și accesoriile de o calitate
                                superioară pe care le vom folosi, menite să ofere rezistență și durabilitate.</li>
                            <li>
                                Părțile comune ale proiectului vor fi la fel de bine finisate și vor dispune de placări
                                cu granit și mână curentă din inox pe scări. Balcoanele apartamentelor vor avea sticlă
                                și inox la exterior.
                            </li>
                        </ul>
                    </div>
                    <div class="project-items">
                        <div class="image">
                        </div>

                    </div>
                </div>
            </div>


            <div class="about-apartments">
                <span>Plan de amplasament</span>
                <div class="swiper mySwiper2" id="swiper-photo">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">

                            <div class="image" data-fancybox data-src="images/poza2.jpeg" data-caption="Schita 1"
                                style="background-image: url(images/poza2.jpeg);">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image" style="background-image: url(images/poza3.jpeg);"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image" style="background-image: url(images/poza1.jpeg);"></div>

                        </div>
                        <div class="swiper-slide">
                            <div class="image" style="background-image: url(images/poza4.jpeg);"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image" style="background-image: url(images/poza5.jpeg);"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image" style="background-image: url(images/poza6.jpeg);"></div>
                        </div>

                        <div class="swiper-slide">
                            <div class="image" style="background-image: url(images/poza7.jpeg);"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image" style="background-image: url(images/poza8.jpeg);"></div>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper" id="swiper-btn">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>schita 1</p>
                        </div>
                        <div class="swiper-slide">
                            <p>schita 2</p>
                        </div>
                        <div class="swiper-slide">
                            <p>ansamblu1</p>
                        </div>
                        <div class="swiper-slide">
                            <p>ansamblu2</p>
                        </div>
                        <div class="swiper-slide">
                            <p>ansamblu3</p>
                        </div>
                        <div class="swiper-slide">
                            <p>ansamblu4</p>
                        </div>
                        <div class="swiper-slide">
                            <p>ansamblu5</p>
                        </div>
                        <div class="swiper-slide">
                            <p>ansamblu6</p>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>
</div>
</div>