.estate-navbar-mobile {
  background: #2c3333;
  position: absolute;
  left: -100vw;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 0;
  padding: 0 0 20px 0;
  &.show-nav-mobile {
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  .wrap {
    width: calc(100% - 30px);
    margin: 0 auto;

    p,
    a {
      margin: 0;
      font-family: "Lato", sans-serif;
    }
    .accordion-item {
      border-bottom: 1px solid #fff;
      //   &:nth-child(1) {
      //     border-top: 1px solid #fff;
      //   }
      &:nth-child(3) {
        border-bottom: none;
      }
      .mobile-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        border: none;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 14px;
        background: #2c3333;
        color: #fff;
        .btn-lines {
          width: 20px;
          height: 20px;
          position: relative;
          span {
            position: absolute;
            width: 80%;
            height: 2px;
            background: #cee002;
            top: 50%;
            left: 0;
            transform: rotate(140deg);
            transition: all 0.3s ease-in-out;
          }
        }
        &.collapsed {
          .btn-lines {
            span {
              background: #fff;
              transform: rotate(0deg);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
      .accordion-collapse {
        .content {
          p {
            color: #fff;
            font-size: 14px;
          }
          ul {
            padding: 30px 0 71px 0;
            margin: 0;
            list-style: none;
            display: flex;
            width: 100%;
            @media (min-width: $md) {
              width: 50%;
            }
            li {
              padding: 0 5px 0 0;
              &:nth-child(4) {
                padding: 0;
              }
              a {
                text-decoration: none;
                color: #fff;
                background: #7f7f7f;
                padding: 6px;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
