{% extends "partials/layout.html" %}

{% block content %}


<main class="apartments">
    <!-- Estate Navbar -->
    {% include "partials/estate-home/estate-navbar.html" %}
    <!-- Estate Navbar end-->


    <!-- Estate Navbar-mobile -->
    {% include "partials/estate-home/estate-navbar-mobile.html" %}
    <!-- Estate Navbar-mobile end-->


    <!-- Estate Hero apartments start -->
    {% include "partials/estate-apartments/estate-hero-apartments.html" %}
    <!-- Estate Hero apartments end-->

    <!-- Estate Description apartments start -->
    {% include "partials/estate-apartments/estate-description-apartments.html" %}
    <!-- Estate Description apartments end-->








    <!-- Estate Footer start-->
    {% include "partials/estate-home/estate-footer.html" %}
    <!-- Estate Footer end-->






</main>



{% endblock %}