{% extends "partials/layout.html" %}

{% block content %}


<main class="homepage">
    <!-- Estate Navbar -->
    {% include "partials/estate-home/estate-navbar.html" %}
    <!-- Estate Navbar end-->


    <!-- Estate Navbar-mobile -->
    {% include "partials/estate-home/estate-navbar-mobile.html" %}
    <!-- Estate Navbar-mobile end-->




    <!-- Estate  Hero start-->
    {% include "partials/estate-home/estate-hero.html" %}
    <!-- Estate  Hero end-->




    <!-- Estate video start-->
    {% include "partials/estate-home/estate-video.html" %}
    <!-- Estate video end-->

    <!-- Estate  about start-->
    {% include "partials/estate-home/estate-about.html" %}
    <!-- Estate  about end-->

    <!-- Estate Footer start-->
    {% include "partials/estate-home/estate-footer.html" %}
    <!-- Estate Footer end-->



    <!-- Scroll top start-->
    {% include "partials/sections/scroll-top.html" %}
    <!-- Scroll top end -->


</main>



{% endblock %}