{% extends "partials/layout.html" %}

{% block content %}


<main class="homepage">
    <!-- Estate Navbar -->
    {% include "partials/estate-home/estate-navbar.html" %}
    <!-- Estate Navbar end-->

    <!-- Estate Navbar mobile start-->
    {% include "partials/estate-home/estate-navbar-mobile.html" %}
    <!-- Estate Navbar mobile end-->

    <!-- Estate Navbar hero start-->
    {% include "partials/estate-home/estate-hero.html" %}
    <!-- Estate Navbar hero end-->
</main>



{% endblock %}